name: Build Ecommerce App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Show directory structure (DEBUG)
        run: ls -R

      - name: Build with Maven
        working-directory: ecommerce
        run: mvn clean package -DskipTests

        - name: Upload JAR as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ecommerce-app
          path: target/*.jar
